<nav class="@@classList">
  <div class="container-fluid">
    <!-- Form -->
    <form>
      <div class="input-group input-group-flush">
        <div class="input-group-text">
          <i class="fas fa-search relative-top--2"></i>
        </div>

        <input type="text" class="form-control dropdown-toggle" data-bs-toggle="dropdown" placeholder="Search..." aria-label="Search" aria-expanded="false">

        <div class="dropdown-menu dropdown-menu-card shadow-light-sm">
          <div class="card-body">
            <h6 class="text-uppercase-xs text-gray-500 mb-3">
              Recent searches
            </h6>
            <div class="d-flex justify-content-between">
              <a href="#!" class="fs-sm text-primary">Order #3</a>
              <a href="#!" class="fs-sm text-primary">User notifications</a>
              <a href="#!" class="fs-sm text-primary">Slow queries</a>
            </div>

            <hr>

            <h6 class="text-uppercase-xs text-gray-500 mb-3">
              Customers
            </h6>
            <div class="mb-3">
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/10.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">Ernest Hemingway</a>
            </div>
            <div class="d-flex align-items-center mb-3">
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/7.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">Maria Popova</a>
              <span class="badge bg-pastel-purple text-darkblue text-uppercase-xs ms-auto">
                NEW
              </span>
            </div>
            <div class="mb-3">
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/6.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">Mark Twain</a>
            </div>
            <div class="mb-3">
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/4.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">Joan Didion</a>
            </div>
            <div class="mb-3">
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/3.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">F. Scott Fitzgerald</a>
            </div>
            <div class="mb-3">
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/2.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">Virgina Woolf</a>
            </div>
            <div>
              <span class="avatar avatar-sm me-2">
                <img src="@@webRoot/assets/img/uifaces/1.jpg" class="avatar-image rounded-circle" alt="">
              </span>
              <a href="#!" class="link-darkblue">J.R.R. Tolkien</a>
            </div>
          </div>
          <a href="#!" class="card-footer-btn btn btn-purple justify-content-center">
            See all results <i class="fas fa-chevron-right fa-xs ms-2"></i>
          </a>
        </div>
      </div>
    </form>

    <!-- User -->
    <div class="d-flex align-items-center">
      <div class="dropdown d-none d-md-flex">
        <a href="#" class="svg-icon svg-icon-sm" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @@include("../assets/img/ionicons/notifications-outline.svg")
          <div class="rounded-circle bg-primary position-absolute top-0 start-100 translate-middle p-1"></div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-card shadow-light-sm me-n3">
          <div class="card-header">
            <h6 class="card-header-title">
              Notifications (2)
            </h6>
            <a href="#!" class="small">
              View all

              <i class="fas fa-chevron-right fa-xs ms-1"></i>
            </a>
          </div>
          <div class="card-body">
            <a href="#!" class="row text-reset text-decoration-none bg-light rounded py-2 gx-3">
              <div class="col-auto">
                <div class="avatar">
                  <img src="@@webRoot/assets/img/uifaces/10.jpg" class="avatar-image rounded-circle" alt="">
                </div>
              </div>
              <div class="col">
                <div class="fs-sm">
                  <strong>John Smith</strong> mentioned you in a comment.
                </div>
                <div class="fs-xs fw-bold text-gray-500 mt-2">
                  3m ago
                </div>
              </div>
            </a>
            <a href="#!" class="row text-reset text-decoration-none bg-light rounded py-2 gx-3 mt-3">
              <div class="col-auto">
                <div class="avatar">
                  <img src="@@webRoot/assets/img/uifaces/12.jpg" class="avatar-image rounded-circle" alt="">
                </div>
              </div>
              <div class="col">
                <div class="fs-sm">
                  <strong>Mark Twain</strong> added a new project Website.
                </div>
                <div class="fs-xs fw-bold text-gray-500 mt-2">
                  1d ago
                </div>
              </div>
            </a>
            <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
              <div class="col-auto">
                <div class="avatar">
                  <img src="@@webRoot/assets/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
                </div>
              </div>
              <div class="col">
                <div class="fs-sm">
                  <strong>Maria Popova</strong> archived the to-do list April Tasks 📂.
                </div>
                <div class="fs-xs fw-bold text-gray-500 mt-2">
                  3d ago
                </div>
              </div>
            </a>
            <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
              <div class="col-auto">
                <div class="avatar">
                  <img src="@@webRoot/assets/img/uifaces/8.jpg" class="avatar-image rounded-circle" alt="">
                </div>
              </div>
              <div class="col">
                <div class="fs-sm">
                  <strong>Joan Didion</strong> commented on a project you're assigned in.
                </div>
                <div class="fs-xs fw-bold text-gray-500 mt-2">
                  1 week ago
                </div>
              </div>
            </a>
            <a href="#!" class="row text-reset text-decoration-none py-2 gx-3 mt-3">
              <div class="col-auto">
                <div class="avatar">
                  <img src="@@webRoot/assets/img/uifaces/7.jpg" class="avatar-image rounded-circle" alt="">
                </div>
              </div>
              <div class="col">
                <div class="fs-sm">
                  <strong>Ernest Hemingway</strong> mentioned you in a comment.
                </div>
                <div class="fs-xs fw-bold text-gray-500 mt-2">
                  1 month ago
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="dropdown mx-4">
        <a href="#" class="svg-icon" data-bs-toggle="dropdown">
          @@include("../assets/img/ionicons/mic-outline.svg")
        </a>
        <div class="dropdown-menu dropdown-menu-end me-n3">
          <a class="dropdown-item" href="#!">
            New podcast
          </a>
          <a class="dropdown-item" href="#!">
            New video
          </a>
          <a class="dropdown-item" href="#!">
            Go live
          </a>
        </div>
      </div>

      <div class="dropdown ms-2">
        <a href="#" class="d-flex align-items-center" data-bs-toggle="dropdown">
          <span class="avatar">
            <img src="@@webRoot/assets/img/uifaces/9.jpg" class="avatar-image rounded-circle" alt="">
          </span>
          <span class="text-dark ms-2">Adrian, G.</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a class="dropdown-item" href="@@webRoot/profile.html">My profile</a>
          <a class="dropdown-item" href="@@webRoot/account.html">Account settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="@@webRoot/sign-in.html">Log out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
